- bodyclass=''
doctype html
html(lang=culture)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    block headermeta
    
    title= renderModel.settings.labels.pages.index.title
        
    link(rel='stylesheet', href='/vendor/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/common.css')
    link(rel="icon", href="/img/favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")

    block headerscripts
    
  body(class=bodyclass)
    .container-fluid
      block content
      
      div(data-bind="if: layoutViewModel().showLoadingImage")    
        .loading-image
          div
            div
              img(src='img/loading-image.gif', alt= renderModel.settings.labels.pages.layout.loadingImageAlt)
              br
              span= renderModel.settings.labels.pages.layout.loadingImageLabel
    
