html, body, body > div {
    width: 100%;
    height: 100%;
}

.btn-circle {
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.panel-head {
    padding: 5px 0;
}

.panel-heading-no-border {
  border-bottom: none;
}

.empty-input {
    background: #f7b998;
    border-color: #ea4e4e;
}
