html, body, body > div {
    width: 100%;
    height: 100%;
}

.alert {
    margin-top: 5px;
}

#img-logo {
    display:block;
    margin:auto;
    max-width: 100%;
}

label > input[type=checkbox] {
  margin-left: 5px;
}
